<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    </meta>
    <script type="text/javascript" src="vendor/vplatform/assets/vue.js"></script>
    <% var styles = htmlWebpackPlugin.options.resources.styles;if(styles){for(var i = 0,len=styles.length;i<len;i++){var style = styles[i]; %>
    <link href="<%= style %>" type="text/css" rel="stylesheet">
    <% }} %>
</head>

<body>
    <div id="app">
    </div>
    <% var scripts = htmlWebpackPlugin.options.resources.scripts;if(scripts){for(var i = 0,len=scripts.length;i<len;i++){var script = scripts[i]; %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }} %>
</body>

<script type="text/template" id="tpl">
    <div class="page-demo">
        1111
          <vui-period v-model="value" :widget-code="widgetCode" :placeholder="placeholder" :type="type" :size="size" :shortcuts="shortcuts" :confirm="confirm" :disabled="disabled" :readonly="readonly" :clearable="clearable" @on-change="onchange" @on-open-change="onopenchange" @on-ok="onok" @on-clear="onclear"></vui-period>
    </div>
   </script>
<script type="text/javascript">
    if (typeof (Framework7Vue) != "undefined") {
        Vue.use(Framework7Vue);
    }
    new Vue({
        el: "#app",
        template: "#tpl",
        data: {
            widgetCode: "vui-period",
            placeholder: "请选择日期",
            type: "tendays",
            size: "small",
            shortcuts: true,
            confirm: true,
            disabled: false,
            readonly: false,
            clearable: true,
            value: new Date()
            // value:[]
        },
        watch: {
            value(val, oldVal) {
                console.log("watch value", val);
            }
        },
        methods: {
            onchange(value) {
                console.log("onchange", value);
            },
            onopenchange(value) {
                console.log("onopenchange", value);
            },
            onok() {
                console.log("onok");
            },
            onclear() {
                console.log("onclear");
            }
        },
    });
</script>

</html>