<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"></meta>
	<script type="text/javascript" src="vendor/vplatform/assets/vue.js"></script>
	<% var styles = htmlWebpackPlugin.options.resources.styles;if(styles){for(var i = 0,len=styles.length;i<len;i++){var style = styles[i]; %><link href="<%= style %>" type="text/css" rel="stylesheet"><% }} %>
</head>
<body>
	<div id="app">
	</div>
	<% var scripts = htmlWebpackPlugin.options.resources.scripts;if(scripts){for(var i = 0,len=scripts.length;i<len;i++){var script = scripts[i]; %><script type="text/javascript" src="<%= script %>"></script><% }} %>
</body>
<script type="text/template" id="tpl">
    <vui-breadcrumb
        :data-source="dataSource"
        :text-field="textField"
        :value-field="valueField"
        :icon-field="iconField"
        :separator="separator"
        @on-click="handleClick"
  ></vui-breadcrumb>
</script>
<script type="text/javascript">
	if(typeof(Framework7Vue) != "undefined"){
		Vue.use(Framework7Vue);
	}
	new Vue({
		el : "#app",
		template : "#tpl",
		data : {
            dataSource:[
                {
                    text:"首页",
                    icon:"camera",
                    value:1
                },
                {
                    text:"产品",
                    icon:"camera",
                    value:2
                },
                {
                    text:"产品详情",
                    icon:"camera",
                    value:3
                }
            ],
            textField:"text",
            valueField:"value",
            iconField:"icon",
            separator:">"
        },
        methods:{
            handleClick(value){
                alert("我点击了"+value);
            }
        }
	});
</script>
</html>