<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    </meta>
    <script type="text/javascript" src="vendor/vplatform/assets/vue.js"></script>
    <% var styles = htmlWebpackPlugin.options.resources.styles;if(styles){for(var i = 0,len=styles.length;i<len;i++){var style = styles[i]; %>
    <link href="<%= style %>" type="text/css" rel="stylesheet">
    <% }} %>
</head>

<body>
    <div id="app">
    </div>
    <% var scripts = htmlWebpackPlugin.options.resources.scripts;if(scripts){for(var i = 0,len=scripts.length;i<len;i++){var script = scripts[i]; %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }} %>
</body>
<script type="text/template" id="tpl">
    <div class="demo"> 
        <vui-slider v-model="value" v-bind="props" @on-change="handleChange" @on-input="handleInput"></vui-slider>

        <div style="height:100px;"></div>
        <Button @click="change">change</Button>
    </div>
</script>
<script type="text/javascript">
    if (typeof (Framework7Vue) != "undefined") {
        Vue.use(Framework7Vue);
    }
    new Vue({
        el: "#app",
        template: "#tpl",
        data: {
            value: "",
            props: {
                widgetCode: "vui-slider",
                min: 1,
                max: 92,
                step: 2,
                disabled: false,
                range: false,
                showInput: true,
                showStops: true,
                showTip: "always",
                tipFormat: (val) => {
                    return 'Progress: ' + val + '%';
                },
                inputSize: "large"
            }
        },
        watch: {
            value(val) {
                console.log("watch value", val);
            }
        },
        methods: {
            change(){
                this.value = "25,30";
            },
            handleChange(val){
                console.log("on-chnage",val)
            },
            handleInput(val){
                console.log("on-input",val)
            }
        },
    });
</script>

</html>