<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    </meta>
    <script type="text/javascript" src="vendor/vplatform/assets/vue.js"></script>
    <% var styles = htmlWebpackPlugin.options.resources.styles;if(styles){for(var i = 0,len=styles.length;i<len;i++){var style = styles[i]; %>
    <link href="<%= style %>" type="text/css" rel="stylesheet">
    <% }} %>
</head>

<body>
    <div id="app">
    </div>
    <% var scripts = htmlWebpackPlugin.options.resources.scripts;if(scripts){for(var i = 0,len=scripts.length;i<len;i++){var script = scripts[i]; %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }} %>
</body>
<style scoped>
    .demo{
        padding: 40px;
    }
    .demo-badge{
            width: 42px;
            height: 42px;
            background: #eee;
            border-radius: 6px;
            display: inline-block;
        }
</style>
<script type="text/template" id="tpl">
    <div class="demo"> 
        <vui-badge v-model="value" v-bind="props"><a href="#" class="demo-badge"></a></vui-badge>
    </div>
</script>
<script type="text/javascript">
    if (typeof (Framework7Vue) != "undefined") {
        Vue.use(Framework7Vue);
    }
    new Vue({
        el: "#app",
        template: "#tpl",
        data: {
            value: 12313,
            props: {
                overflowCount: 100,
                dot: false,
                className: "demoBadge"
            }
        },
        watch: {
            value(val) {
                console.log("watch val", val);
            }
        },
    });
</script>

</html>